*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.fixed-nav{
position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Sørger for at navbaren vises øverst */
  background-color:#FF8E00;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}



nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #020202;
}



nav a:hover{
    background-color: #F16F27;
}

nav li:first-child{
    margin-right: auto;
}



.logo{
    margin-right: auto;
    height: 60px;
    padding: 0 20px;
}


.sidebar{
    position: fixed;
    top:0;
    right: 0;
    height:100vh;
    width: 250px;
    background: #ff8c00;
    box-shadow: -10px 0px 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;

}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width:100%;
}

.menu-btn{
    display:none;
}

@media(max-width:800px){
    .hideOnMbile{
        display: none;
    }
    .menu-btn{
        display: block;
    }
}

@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
}


main {
    max-width: 1100px;
    margin: auto;
    margin-top: 80px;
    
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 160%;
    padding-bottom: 60px;
   }
   
   h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 180%;
   }
   h3 {
    font-size: 1.2rem;
    font-weight: 600;
   }

/* =================================== ! index.html med hero-sektion ! ======================================= */



#hero {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: #000000;
    height: 500px;
   }
   #hero video {
    width: 100%;
    object-fit: cover
   }
   
   /* vigtigt at knap placeres oven på videoen */
   
   #hero button {
    position: absolute;
    bottom: 10%;
    z-index: 1;
   }
   
   
   
    #hero button {
      padding: 8px 32px;
      font-size: 1.3rem;
      font-weight: 600;
    }

    #content {
        padding:100px 50px;
        text-align:left;
        width:80%;
        margin:0px auto;
       }

    .dark {
        width: 100%;
        text-align: left;
        padding: 80px 20%;
        background-color: var(--secondary-1-color);
    }
    .dark p{
        color: var(--primary-1-color);;
    }
    .dark h2{
        color: var(--primary-1-color);;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
       
    .text-large{
        font-size: 1.4rem;
        font-weight: 600;
    }
    .text-small{
        font-size: 1rem;
    }
       

    h1 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 160%;
        padding-bottom: 60px;
    }
       
    h2 {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 180%;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: 600;
    }
       
       

    .site-intro {
        padding: 20px;
        display: flex;
        justify-content: space-between;
       }
       
       
       
       .site-intro img {
        height: 100px;
        width: 100px;
        float: right;
       }
       
   

/* STYLING AF OM OS SIDEN STARTER NEDENUNDER */

.profiler {
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: center;
    margin-top: 40px;
}

.profil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profil img{
    height: 200px;
}



/***STYLLING AF FOOOTER NEDENUNDER ****/
footer{
    background-color: #ff8c00;
    color:black;
    display:flex;
    flex-direction: column; /* Sørger for at copyright ligger nederst på footeren*/
    bottom: 0;

}

.container{
    display:flex; /* lægger  tingene ved siden af hinanden */
    gap:20px;
   padding: 30px 60px;
   
}

.logo-footer{
    flex-grow:1;
    flex-basis: 50%;
}

.logo-footer img{
    height:160px;
}

.kontakt{
    flex-grow:1;
    flex-basis: 100%;
}

.kontakt ul{
    list-style-type:none;
    line-height: 2;
}

.kontakt a{
    color:black;
    text-decoration: none;
}

.kontakt a:hover{
    color:white;
    text-decoration: underline;

}


.social-links{
   
    flex-grow:1;
    flex-basis: 60%;
}

.social-links ul{
    list-style-type:none;
    line-height: 1.6;
    display: flex;
}

.social-links img{
    margin-right: 20px;
}





.container h3{
    margin-bottom: 20px;
    font-size: 20px;
}

.copyright{
    padding: 15px 0;
    text-align: center ;
}


@media only screen and (max-width:800px){
    .container{
        flex-direction: column;
    }
   
}

       
    /* =================================== ! responsive layout, så det tilpasser sig skærmstørrelse ! ======================================= */
       
    @media screen and (max-width: 800px) {
        .col-3 {
           width: 100%;
           text-align: center;
         }
         .col-3 img {
           width: 100%;
           align-items: center;
         }
         .col-2 {
           width: 100%;
           text-align: center;
        }
        
        #content {
         text-align: center;
        }
        
        }
        
        